# Missing Data in Numpy

In [1]:
import numpy as np

In [ ]:
#nan=not a number
#inf=infinity
#-inf=negative infinity
np.nan, np.inf, -np.inf

(nan, inf, -inf)

In [3]:
a1=np.array([1,2,3,np.nan,5, 6])
a1

array([ 1.,  2.,  3., nan,  5.,  6.])

In [4]:
np.isnan(a1)

array([False, False, False,  True, False, False])

In [5]:
a1=np.array([1,2,3,np.inf,5, 6])
a1

array([ 1.,  2.,  3., inf,  5.,  6.])

In [6]:
np.isnan(a1)

array([False, False, False, False, False, False])

In [7]:
np.isfinite(a1)

array([ True,  True,  True, False,  True,  True])

In [8]:
a3=np.array([1,np.nan,3,np.inf,5])
a3

array([ 1., nan,  3., inf,  5.])

In [9]:
mask_arr=np.isfinite(a3)
mask_arr

array([ True, False,  True, False,  True])

In [10]:
clean_arr=a3[mask_arr]
clean_arr

array([1., 3., 5.])

In [12]:
not_mask_arr=~np.isfinite(a3)
not_mask_arr

array([False,  True, False,  True, False])

In [13]:
a3[not_mask_arr]

array([nan, inf])

### Filling missing data in Numpy

In [14]:
a4=np.array([1,2,np.nan,4])
a4

array([ 1.,  2., nan,  4.])

In [16]:
mask_arr=np.isnan(a4)
mask_arr

array([False, False,  True, False])

In [19]:
a4[mask_arr]=1000
a4

array([   1.,    2., 1000.,    4.])

In [23]:
a3=np.array([1,np.nan,3,np.inf,5])
a3

array([ 1., nan,  3., inf,  5.])

In [27]:
mask_arr=~np.isfinite(a3)
mask_arr

array([False, False, False, False, False])

In [26]:
a3[mask_arr]=10000
a3

array([1.e+00, 1.e+04, 3.e+00, 1.e+04, 5.e+00])

In [28]:
a5=np.array([
    [1,2,np.nan],
    [4,np.nan,6],
    [7,8,9]
])
a5

array([[ 1.,  2., nan],
       [ 4., nan,  6.],
       [ 7.,  8.,  9.]])

In [29]:
a5[np.isnan(a5)]

array([nan, nan])

In [30]:
np.where(np.isnan(a5))

(array([0, 1]), array([2, 1]))

- axis=0: column wise
- axis=1: row wise

### first nan value index index(0,2)
### second nan value index(1,1)

In [33]:
np.nanmean(a5)

np.float64(5.285714285714286)

In [34]:
np.nanmean(a5, axis=0)

array([4. , 5. , 7.5])

In [37]:
col_wise,row_wise=np.nanmean(a5, axis=0),np.nanmean(a5, axis=1)

In [38]:
np.take(col_wise, np.where(np.isnan(a5))[1])

array([7.5, 5. ])

In [39]:
a5

array([[ 1.,  2., nan],
       [ 4., nan,  6.],
       [ 7.,  8.,  9.]])

In [40]:
a5[np.isnan(a5)]=np.take(col_wise, np.where(np.isnan(a5))[1])
a5

array([[1. , 2. , 7.5],
       [4. , 5. , 6. ],
       [7. , 8. , 9. ]])

In [41]:
a5=np.array([
    [1,2,np.nan],
    [4,np.nan,6],
    [7,8,9]
])
a5

array([[ 1.,  2., nan],
       [ 4., nan,  6.],
       [ 7.,  8.,  9.]])

In [45]:
row_wise, col_wise =np.nanmean(a5, axis=1), np.nanmean(a5, axis=0)
row_wise, col_wise

(array([1.5, 5. , 8. ]), array([4. , 5. , 7.5]))

In [48]:
np.take(col_wise, np.where(np.isnan(a5))[1])

array([7.5, 5. ])

In [49]:
np.take(row_wise, np.where(np.isnan(a5))[0])

array([1.5, 5. ])

In [50]:
a5

array([[ 1.,  2., nan],
       [ 4., nan,  6.],
       [ 7.,  8.,  9.]])

In [51]:
a5[np.isnan(a5)]=np.take(row_wise, np.where(np.isnan(a5))[0])
a5

array([[1. , 2. , 1.5],
       [4. , 5. , 6. ],
       [7. , 8. , 9. ]])