# Data Splitting

In [1]:
import seaborn as sns

In [2]:
df = sns.load_dataset("iris")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
df.shape #Number of records, number of features

(150, 5)

In [14]:
df=df.sample(frac=1)
df["species"].values

array(['versicolor', 'setosa', 'versicolor', 'virginica', 'virginica',
       'versicolor', 'setosa', 'versicolor', 'setosa', 'versicolor',
       'virginica', 'setosa', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'setosa', 'virginica', 'virginica',
       'versicolor', 'versicolor', 'setosa', 'virginica', 'setosa',
       'virginica', 'versicolor', 'virginica', 'setosa', 'setosa',
       'virginica', 'setosa', 'virginica', 'setosa', 'versicolor',
       'setosa', 'virginica', 'versicolor', 'versicolor', 'virginica',
       'versicolor', 'virginica', 'setosa', 'virginica', 'virginica',
       'virginica', 'versicolor', 'virginica', 'versicolor', 'virginica',
       'setosa', 'setosa', 'versicolor', 'setosa', 'setosa', 'setosa',
       'versicolor', 'virginica', 'setosa', 'virginica', 'virginica',
       'versicolor', 'setosa', 'setosa', 'virginica', 'versicolor',
       'versicolor', 'versicolor', 'virginica', 'setosa', 'setosa',
       'versicolor', 'setosa', 'virginica', 'versicolor', 'versicolor',
       'setosa', 'virginica', 'versicolor', 'versicolor', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'versicolor',
       'virginica', 'versicolor', 'setosa', 'virginica', 'virginica',
       'setosa', 'setosa', 'virginica', 'virginica', 'virginica',
       'setosa', 'versicolor', 'versicolor', 'setosa', 'versicolor',
       'setosa', 'setosa', 'virginica', 'virginica', 'setosa', 'setosa',
       'setosa', 'setosa', 'virginica', 'versicolor', 'versicolor',
       'virginica', 'setosa', 'virginica', 'versicolor', 'versicolor',
       'virginica', 'versicolor', 'setosa', 'setosa', 'virginica',
       'setosa', 'virginica', 'virginica', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'virginica', 'setosa', 'virginica', 'virginica', 'virginica',
       'versicolor', 'versicolor', 'virginica', 'virginica', 'setosa',
       'virginica', 'setosa', 'versicolor', 'virginica', 'setosa',
       'virginica', 'virginica', 'versicolor'], dtype=object)

In [15]:
n_records=df.shape[0] #Number of records
n_train=(n_records*0.8) #80% of the records
n_test=n_records-n_train #20% of the records
n_train, n_test, n_test+n_train #Number of records in train and test sets

(120.0, 30.0, 150.0)

In [16]:
train=df[:int(n_train)]
test = df[int(n_train):]
train.shape, test.shape

((120, 5), (30, 5))

In [17]:
# Splitting independent and dependendt variables
X=df.drop(columns=["species"])
y=df["species"]

In [ ]:
# train/test split
X_train=X[:int(n_train)]
y_train=y[:int(n_train)]

X_test=X[int(n_train):]
y_test=y[int(n_train):]

In [23]:
# train test split using scikit-learn
from sklearn.model_selection import  train_test_split

X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.2, stratify=y, random_state=42)
( 
  sum(y_train=='setosa'),
  sum(y_train=='versicolor'), 
  sum(y_train=='virginica')
)

(40, 40, 40)