#3.1 assignment orperator

In [1]:
var = "t"
print(var)

t

In [2]:
# walrus operator
if (var := "t") == "t":
    print(var)
else:
    print("no")

# walrus operator next operation
x=4
if (val:=x+2)==6:
    print(val)

t
6

In [2]:
#Arirhmetic operators
print(2+3)
#subtraction
print(2-3)
#multiplication
print(2*3)
#division
print(2/3)
#modulus
print(2%3)
#exponentiation
print(2**3)
#floor division
print(2//3)

5
-1
6
0.6666666666666666
2
8
0

#Logical Operator

In [5]:
print(True and False)   # False
print(True or False)    # True
print(not True)         # False

False
True
False

In [6]:
print(0 and 5)     
print(3 and 5)     
print(0 or 5)      
print("" or [])

0
5
5
[]

In [4]:
#why its  printing hello and None????
print(True and print("Hello")) 
# print(True or print("World"))

Hello
None

#3.3 Bitwise operator

In [ ]:
a=5
b=3
a&b#AND return 1 if both bits are 1
a|b#OR return 1 if any of the bits is 1
a^b #XOR return 1 if only one of the bits is 1
~a #complement of a
a<<2 #left shift a*2^2
a>>2#right shift a/2^2

-6

In [22]:
#swap two numbers using bitwise operators
a=5
b=3
a=a^b
b=a^b
a=a^b
print(a,b)

3 5

#Membership operator

In [25]:
5 in [1,2,3,4,5] #True
5 not in [1,2,3,4,5] #False

False

# Ternary Operator

In [27]:
result = 5 if 5<3 else 3
print(result)

3

#Variable naming convention
- variable name can include leter, digit and underscore
- Starting with either letter or underscore

In [ ]:
#variable assignment->snake_case
#constant->UPPER_CASE
#function->snake_case
#class->CamelCase
#module->snake_case
#package->snake_case
#method->snake_case