## Encoding - One-Hot and Label Encoding

### Categorical Data
- Ordianl(ordered one)
- Nomainal (not ordered)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Encoding for nominal data

In [2]:
df=pd.DataFrame({
    "Color": ["Red", "Green", "Blue", "Black", "Blue"]
})
df

   Color
0    Red
1  Green
2   Blue
3  Black
4   Blue

- One hot Encoding for Nominal Data

In [3]:
color_encoded=pd.get_dummies(df, columns=["Color"], drop_first=True).astype(int)
color_encoded

   Color_Blue  Color_Green  Color_Red
0           0            0          1
1           0            1          0
2           1            0          0
3           0            0          0
4           1            0          0

- Label Encoding for ordinal Data

In [4]:
df=pd.DataFrame({
    "Grade": ["A", "A+", "B", "C", "B", "A", "B+"]
})
df

  Grade
0     A
1    A+
2     B
3     C
4     B
5     A
6    B+

In [5]:
mapping={"C": 0, "B": 1, "B+": 2, "A": 3, "A+": 4}

In [6]:
df["Grade_en"]=df["Grade"].map(mapping)
df

  Grade  Grade_en
0     A         3
1    A+         4
2     B         1
3     C         0
4     B         1
5     A         3
6    B+         2

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Grade     7 non-null      object
 1   Grade_en  7 non-null      int64
dtypes: int64(1), object(1)
memory usage: 244.0+ bytes

In [8]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder
encoder_label=LabelEncoder()
df["Grade_en_le"]=encoder_label.fit_transform(df["Grade"])
df

  Grade  Grade_en  Grade_en_le
0     A         3            0
1    A+         4            1
2     B         1            2
3     C         0            4
4     B         1            2
5     A         3            0
6    B+         2            3

In [9]:
grade_categories=[["C", "B", "B+", "A", "A+"]]
encoder_ordinal=OrdinalEncoder(categories=grade_categories)
df["Grade_en_oe"]=encoder_ordinal.fit_transform(df[["Grade"]])
df

  Grade  Grade_en  Grade_en_le  Grade_en_oe
0     A         3            0          3.0
1    A+         4            1          4.0
2     B         1            2          1.0
3     C         0            4          0.0
4     B         1            2          1.0
5     A         3            0          3.0
6    B+         2            3          2.0