# Function

In [3]:
def add(num1: int, num2: int)->int:
    if(not isinstance(num1, int) and not isinstance(num2, int)):
        raise ValueError("Invalid input")
    return num1 + num2

add(2, "3")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
#lambda function
add=lambda num1, num2: num1+num2
print(add(2, 3))

5

# args and kwargs

In [5]:
def sum(*args):
    print(args)
    result=0
    for i in args:
        result+=i
    return result
print(sum(1,2,3,4,5,6))

(1, 2, 3, 4, 5, 6)
21

In [6]:
def print_info(**kwargs):
    print(kwargs)
    for key, value in kwargs.items():
        print(f"{key} : {value}")
print_info(name="John", age=23, city="New York")

{'name': 'John', 'age': 23, 'city': 'New York'}
name : John
age : 23
city : New York

In [14]:
def display_data(a, b, *args, **kwargs):
    print(type(args))
    print(type(kwargs))
    print(f"a: {a}, b: {b}")
    print(f"args: {args}")
    print(f"kwargs: {kwargs}")

display_data(1, 2, 3, 4, 5, name="Alice", age=25)

<class 'tuple'>
<class 'dict'>
a: 1, b: 2
args: (3, 4, 5)
kwargs: {'name': 'Alice', 'age': 25}

In [8]:
def greet(name, age):
    print(f"Hello, my name is {name} and I am {age} years old.")

data = ("Alice", 25)
greet(*data)  # Unpacking tuple into arguments

info = {"name": "Bob", "age": 30}
greet(**info)

Hello, my name is Alice and I am 25 years old.
Hello, my name is Bob and I am 30 years old.

In [9]:
# Tuple unpacking
person = ("Alice", 25, "New York")
name, age, city = person

print(name)  # Output: Alice
print(age)   # Output: 25
print(city)  # Output: New York

Alice
25
New York

In [10]:
numbers = [1, 2, 3, 4, 5]
first, *middle, last = numbers

print(first)   # Output: 1
print(middle)  # Output: [2, 3, 4]
print(last)    # Output: 5

1
[2, 3, 4]
5

In [11]:
def add(a, b, c):
    return a + b + c

nums = (2, 3, 5)
print(add(*nums))  # Output: 10

10

In [12]:
def show_info(name, age):
    print(f"Name: {name}, Age: {age}")

data = {"name": "Bob", "age": 30}
show_info(**data)

Name: Bob, Age: 30

In [13]:
students = [("Alice", 22), ("Bob", 24), ("Charlie", 21)]

for name, age in students:
    print(f"{name} is {age} years old.")

Alice is 22 years old.
Bob is 24 years old.
Charlie is 21 years old.

In [17]:
def abc(a, *, val1, val2):
    print(a)
    print(val1)
    print(val2)

In [18]:
abc(1, val1=2, val2=3)

1
2
3

In [19]:
lamb_func = lambda x, y, z: x*y-z

In [20]:

lamb_func(1, 2, 3)

-1

In [21]:
def temp(a, *, b):
    print(a, b)

In [22]:
temp(1, b=2)

1 2

In [23]:
temp(a=1, b=2)

1 2

In [24]:
temp(b=1, a=2)

2 1

In [25]:
an_func = lambda a, b: a + b

In [26]:
an_func(2, 3)

5