#Tuple

In [2]:
#empty tuple
tup=()
type(tup)

tuple

In [3]:
#creating empty tuple
tup=tuple()
type(tup)

tuple

In [4]:
#creating tuple with default values
tup3=(2,3,4,5)
tup3

(2, 3, 4, 5)

In [ ]:
#create a tuple with one elment
tup4 = (2, ) # use comma to indicate that it is a tuple
tup4, type(tup4)

((2,), tuple)

In [12]:
tup = (11, 12, 13, 11, 14, 13, 15)
tup.count(11) # count the number of times 11 appears in the tuple

2

In [20]:
tup.index(11, 1, 4) # find the index of the first occurrence of 14 in the tuple

3

In [18]:
#Type casting
a=2
a_string=str(a)
a_string,type(a_string)
b_string="123"
b_int=int(b_string)
b_int,type(b_int)

(123, int)

In [23]:
tup3_list=list(tup3)
tup3_list,type(tup3_list)
list1=[1,2,3,4]
list1_tuple=tuple(list1)
list1_tuple,type(list1_tuple)

((1, 2, 3, 4), tuple)

#Dictionary

In [26]:
d1=dict()
d2={}
d1,type(d1)

({}, dict)

In [30]:
#add elements to dictionary
d1['age']=20
d1['name']='Tilak'
d1

{'age': 20, 'name': 'Tilak'}

In [36]:
d1['age']=21
d1
d1.keys()
d1.values()
age = d1.pop('age')
age, d1

(21, {'name': 'Tilak'})

In [37]:
d1={'a':1,'b':2,'c':3}
#remvoing last element in dictionary
last=d1.popitem()
last,d1

(('c', 3), {'a': 1, 'b': 2})

In [44]:
#Iterating over dictionary
d1={'a':1,'b':2,'c':3}
print(d1.items())
print(type(d1.items()))
for key, val in d1.items():
    print(key,val, d1[key])

dict_items([('a', 1), ('b', 2), ('c', 3)])
<class 'dict_items'>
a 1 1
b 2 2
c 3 3

In [46]:
d1={'a':1,}
d2={'b':2}
d1.update(d2)
d1,d2

({'a': 1, 'b': 2}, {'b': 2})

In [ ]:
#accessing key and value
d1={'a':1,'b':2,'c':3}
print(d1.get('aa', "custom message")) # default value if key is not present in dictionary is None

custom message

# fromKeys 
#setdefault

#String

In [53]:
str1='This is a string'
str2 = "This is also a string"
str3 = '''This is also a string'''
str4 = """This is also a
 string"""
str1,str2,str3,str4

('This is a string',
 'This is also a string',
 'This is also a string',
 'This is also a\n string')

In [58]:
# str1.capitalize()
str1.endswith('g')
str1.encode()

b'This is a string'

In [2]:
#set with default values
set2={1,2,3}
set2

{1, 2, 3}

In [3]:
#add elements to set
set2.add(4)
set2

{1, 2, 3, 4}

In [4]:
set2.pop()
set2

{2, 3, 4}

In [6]:
set2 = {1, 2, 3, 4, 5, 6}
removed_el = set2.remove(6)
set2, removed_el

({1, 2, 3, 4, 5}, None)

In [ ]:
#remove element from set without error
set2 = {1, 2, 3, 4, 5, 6}
removed_el = set2.discard(16)
set2, removed_el

({1, 2, 3, 4, 5, 6}, None)

In [ ]:
#set operations
set1 = {1, 2, 3, 4, }
set2 = {3, 4, 5, 6}
set_union = set1.union(set2)
set_union

{1, 2, 3, 4, 5, 6}

In [9]:
#intersection
set_intersection = set1.intersection(set2)
set_intersection

{3, 4}

In [10]:
#intersection_update
set1.intersection_update(set2)
set1, set2

({3, 4}, {3, 4, 5, 6})

In [12]:
#set difference
set1 = {1, 2, 3, 4, }
set2 = {3, 4, 5, 6}
set_diff = set1.difference(set2)
set_diff, set1, set2

({1, 2}, {1, 2, 3, 4}, {3, 4, 5, 6})